.parent{
    background: #EFEEEE 0% 0% no-repeat padding-box;
}
.childh1{
    padding: 5vh 0 5vh 0;
    font: normal normal bold 50px/60px Calibri;
    color: #3B393C;
    text-align:center;
}

.childcard{
    column-gap: 90px; 
    row-gap: 35px;
}

@media(max-width: 1490px){
    .childcard{
        column-gap: 40px;
   }
}


@media(max-width: 1396px){
    .childcard{
        column-gap: 20px;
   }
}

@media(max-width: 516px){
    .childh1{
        padding: 3vh 0 3vh 0;
    font: normal normal bold 35px/45px Calibri;
    }
}