.whatwedo {
  width: 100%;
  padding: 3vh 0;
  font-weight: bold;
  text-align: center;
  font-size: 6.5vh;
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 600px) {
  .whatwedo {
    font-size: 4vh;
  }
}
